body {
    color: pink;
    background: url("./img/rex.jpg") no-repeat center center/cover;
}

h1 {
    font-size: 4em;
}

h1, h2, h3{
    text-align: center;
}

h2 {
    color: magenta;
}

h3 {
    color: yellow;
}

img {
    width: 200px;
}

div {
    background-color: rgba(57, 217, 242, 0.243)
    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bratz {
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    image width: 40px;
    image height: 400px;
    background color: white;
    
}

.brat {
    margin: 40px;
    font color: #ff00ff;
    border-style: groove;
    flex-wrap: wrap;
}

img {
    border-radius: 8px;
    width: 200px;
    height: 200px;
  }

a {
    text-decoration: none;
    display: block;
    color: magenta;
    font-size: 1.3em;
    text-align: center;
    padding: 10px;
}
<<<<<<< HEAD
#gameboys {
        display: flex;
        flex-wrap: wrap
}

#gameboy {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;

    display: flex;
=======
p {
    font-size: large;
>>>>>>> 52b6a1fae5d38cfc5e74b610b1a89137b127c909
}