body {
    color: pink;
    background: url("./img/rex.jpg") no-repeat center center/cover;
}

h1 {
    font-size: 4em;
}

h1, h2, h3{
    text-align: center;
}

h2 {
    color: magenta;
}

img {
    width: 200px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bratz, #cjhs, #xmen{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.brat {
    margin: 40px;
}

.furby img {
    width: 75px;
    height: 75px;
}

.furby img:hover {
    width: 600px;
    height: 600px;
}

#furbys {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    display: block;
    color: magenta;
    font-size: 1.3em;
    text-align: center;
    padding: 10px;
}